@use "partials/breakpoints" as breakpoint;
@use "partials/base" as *;
@import "partials/components";
@import "partials/resets.scss";

//hero image section
.hero {
  &-title__wrapper {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  &-img__container {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-position: center center;
    background-size: cover;
    height: 25rem;
    display: flex;
  }

  @include breakpoint.tablet {
    .hero-img__container {
      height: 30rem;
      line-height: 2rem;
    }
  }

  @include breakpoint.desktop {
    .hero-img__container {
      height: 40rem;
      line-height: 2rem;
    }
  }

  &__title {
    color: $accent-color;
    font-size: 8vw;
    width: 70rem;
    padding-left: 2rem;
  }

  @include breakpoint.desktop {
    &__title {
      padding-left: 10rem;
      font-size: 4.5vw;
    }
  }

  &__opacity {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
  }

  &-image__wrapper {
    width: 0px;
  }

  @include breakpoint.tablet {
    &__title {
      width: 900px;
      font-size: 9vw;
      padding-left: 5rem;
    }
  }
}

@include breakpoint.tablet {
  .hero {
    &__title {
      width: 100vw;
    }
  }
}

//article content//

.article {
  padding: 16px;
  &__content {
    line-height: 22px;
    padding-bottom: 1rem;
  }

  &-img {
    max-width: 100%;
    height: auto;
    padding: 16px;
  }

  &__content--quote {
    line-height: 30px;
    // font-family: avenirnext-demi;
    font-size: 18px;
    color: $base-color;
    padding-bottom: 1rem;
  }

  &__content--title {
    font-size: 18px;
    padding-top: 24px;
  }

  &__title {
    font-size: 2.5rem;
    padding: 1rem;
    color: $base-color;
  }
}

//article content//

@include breakpoint.desktab {
  .article {
    &-img__container {
      padding: 0 115px;
    }

    &__title {
      padding: 60px 0 40px 90px;
    }

    &__wrapper {
      display: flex;
      padding: 10px;
      width: 70%;
      align-items: center;
      margin: 0 auto;
    }

    &__content {
      margin-left: 30px;
      color: $base-color;
      line-height: 24px;
    }

    &__content--title {
      padding-top: 50px;
      padding-left: 17.1vw;
      font-size: 26px;
      color: $base-color;
    }

    &__content--quote {
      padding: 10px 230px;
      width: 92%;
      font-size: 23px;
      line-height: $h1-line-height;
    }

    &__quote--author {
      padding: 15px 232px;
      width: 92%;
      font-size: 17px;
      color: $base-color;
      line-height: $h1-line-height;
    }
  }
}

@include breakpoint.tablet {
  .article__title {
    font-size: 6vw;
  }
}

@include breakpoint.desktop {
  .article__title {
    font-size: 3vw;
  }
}

//gallery
@include breakpoint.desktab {
  .gallery {
    background-color: $divider-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 1.9rem;

    &__item {
      width: 30%;
      padding-left: 1.9rem;
      padding-top: 0.9rem;
    }

    &__image {
      padding-top: 0.5rem;
    }
  }
}

.gallery {
  background-color: $background-color;
  height: max-content;

  &__image {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: 0.4s;
  }

  &__image:hover {
    filter: grayscale(0%);
  }
}

@include breakpoint.mobile {
  .gallery__image {
    padding: 1rem 2.5rem;
  }
}

.gallery__title {
  font-size: 2.8rem;
  color: $base-color;
  padding: 4rem 0 1rem 2.4rem;
  background-color: $background-color;
}

@include breakpoint.tablet {
  .gallery {
    padding-top: 2rem;
  }

  .gallery__title {
    padding-left: 4.2rem;
  }
}

@include breakpoint.desktop {
  .gallery {
    padding: 15px 80px 40px 50px;
  }

  .gallery__title {
    padding-left: 9rem;
    font-size: 2.5rem;
  }
}

//form
@include breakpoint.desktab {
  .comment {
    &__box {
      padding-bottom: 0.5rem;
      letter-spacing: 0.5px;
    }
  }
}

@include breakpoint.tablet {
  .comment__button {
    width: 24vw;
    margin-left: 56vw;
  }
}

.comment__name--input,
.comment__text--input {
  background-color: $background-color;
  width: 80vw;
  border: solid 2px rgba($color: #000000, $alpha: 0.1);
  border-radius: 5px;
  font-size: 2rem;
}

.comment__name--input {
  height: 8vh;
  margin-bottom: 1rem;
}

.comment__text--input {
  height: 22vh;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.comment__content {
  display: flex;
  justify-content: center;
  border: 0;
}

.comment-form__wrapper {
  display: flex;
  flex-direction: column;
  font-family: avenirnext-bold;
  color: $secondary-color;
  padding-left: 1rem;
}

.comment-img__container {
  background-image: url(/assets/Images/Mohan-muruge.jpg);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  margin-top: 2rem;
}

.comment__button {
  @include button-template;
  font-size: 1.3rem;
}

::placeholder {
  color: $base-color;
  padding-left: 10px;
  font-size: 1.3rem;
}

//comment list

.comments {
  display: flex;
  padding: 2rem;
  border-bottom: 1px solid $divider-color;

  &-inner__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content--image {
    background-image: url(/assets/Images/light-grey-background.png);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    margin-bottom: auto;
  }

  &-content__wrapper {
    padding-left: 2rem;
    flex-grow: 1;
  }

  &__content--date {
    color: $secondary-color;
  }

  &__content--author {
    color: $base-color;
    letter-spacing: 0.5px;
    padding-bottom: 1rem;
  }
}

@include breakpoint.desktop {
  .comments {
    justify-content: inherit;
    border-top: solid 0.5px $divider-color;
    border-bottom: solid 0.5px $divider-color;
  }

  .comment {
    &__list {
      width: 550px;
      margin-left: 30rem;
      padding-top: 1rem;
    }

    &__name--input,
    &__text--input {
      width: 40vw;
    }

    &__button {
      width: 15vw;
      margin-left: 22.5rem;
    }
  }
}

.form__title {
  padding: 3rem;
  font-size: 2.2rem;
  color: $base-color;
}

.form {
  @include breakpoint.tablet {
    &__title {
      font-size: 3rem;
    }
  }

  @include breakpoint.desktop {
    &__title {
      margin-left: 3rem;
    }
  }
}

.comments-image__wrapper {
  flex-shrink: 0;
}
