/*media query variables */
/*is like global css, put resets, mixins, and variables.
example mixin:
@mixin default-box ($color, $borderColor) {
    color: $color;
    border: 1px solid $borderColor;
    clear: both;
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
}
{box-sizing: border-box;
  ma


$base-color: #323232;
$secondary-color: #afafaf $accent-color;
#FFFFFF

$hover-color: #000000 
$divider-color: #e1e1e1
$background-color: #FAFAFA

/*
desktop and tablet font

dsk-subheader-font: 
dsk-body-font
dsk-footer-font
dsk-buttons-font
dsk-header-font
dsk-sec-header-font*/
@font-face {
  font-family: "AvenirNext-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
/*page header*/
/*section header*/
/*subheader*/
/*body copy*/
/*footer copy*/
/*labels and buttons*/
/*media queries*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*need a mixin for my section styling perhaps, 16px padding left and right after the hero image.*/
/*FONT VARIABLES*/
/*page header*/
/*section header*/
/*subheader*/
/*body copy*/
/*footer copy*/
/*labels and buttons*/
/*FONT MIXINS*/
/*examples of using mixins*/
h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

/*h2 {
  @include font-source(-font-size, -line-height, -font-weight);

  h6 {
  @include font-source($h6-font-size, $h6-line-height, -weight);
}
}*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirNext-regular;
}

@media only screen and (min-width: 768px) {
  .nav {
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: #323232;
    padding: 25px;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 10px;
    font-size: 14px;
  }
  .nav__link:hover {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 20px;
  }
  .nav__link {
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
  }
  .nav__title {
    color: #ffffff;
    font-family: avenirnext-regular;
    font-weight: 100;
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav__biography {
    font-family: AvenirNext-demi;
  }
  .nav__shows {
    margin-left: 25px;
    color: #e1e1e1;
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    background-color: #323232;
  }
  .nav__title {
    padding-top: 5%;
    width: 40%;
    margin-left: 30%;
  }
  .nav__item {
    width: 50vw;
    padding-bottom: 25px;
    padding-top: 20px;
  }
  .nav__item:hover {
    border-bottom: 4px solid #fafafa;
  }
  .nav__biography {
    border-bottom: 4px solid #fafafa;
    font-family: avenirnext-demi;
  }
  .nav__list {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    text-align: center;
  }
  .nav__link {
    color: #fafafa;
    text-decoration: none;
    font-size: 22px;
    border-bottom: 3px solid transparent;
    letter-spacing: 1px;
  }
}
.hero {
  position: relative;
}
.hero__image {
  max-width: 100%;
  height: auto;
}
.hero__title {
  position: absolute;
  color: #ffffff;
  font-family: avenirNext-demi;
  margin-top: 30%;
  padding-left: 5%;
  font-size: 7vw;
}
.hero__opacity {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
}

.article {
  padding: 16px;
}
.article__content {
  line-height: 22px;
}

.article-img {
  max-width: 100%;
  height: auto;
  padding: 16px;
}

.article__content--quote {
  line-height: 30px;
  font-family: avenirnext-demi;
  font-size: 18px;
  color: #323232;
}

.article__content--title {
  font-size: 18px;
  padding-top: 24px;
}

@media only screen and (min-width: 768px) {
  .article-img__container {
    padding: 0 215px;
  }
  .article__title {
    font-family: avenirnext-demi;
    font-size: 2.8vw;
    color: #323232;
    padding: 40px 0 40px 150px;
  }
  .article__wrapper {
    display: flex;
    padding: 10px;
    width: 70%;
    align-items: center;
    margin: 0 auto;
  }
  .article__content {
    margin-left: 30px;
    color: #323232;
    line-height: 24px;
  }
  .article__content--title {
    padding-top: 50px;
    padding-left: 17.1vw;
    font-family: avenirnext-demi;
    font-size: 26px;
    color: #323232;
  }
  .article__content--quote {
    padding: 10px 230px;
    width: 92%;
    font-size: 23px;
    line-height: 32px;
  }
  .article__quote--author {
    padding: 15px 232px;
    width: 92%;
    font-size: 17px;
    font-family: avenirnext-demi;
    color: #323232;
    line-height: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery {
    background-color: #e1e1e1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 18vw);
    grid-gap: 15px;
  }
}
.gallery {
  padding: 16px;
  background-color: #fafafa;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.gallery__image {
  max-width: 100%;
  height: auto;
  padding-top: 16px;
}

.gallery__title {
  font-size: 30px;
  font-family: AvenirNext-demi;
  color: #323232;
  padding-top: 24px;
  padding-left: 16px;
  background-color: #fafafa;
}

@media only screen and (min-width: 1279px) {
  .gallery {
    padding: 50px 120px;
    grid-template-rows: repeat(3, 16vw);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    padding: 40px 70px;
    grid-template-rows: repeat(3, 15.5vw);
  }
}
.footer {
  background-color: #323232;
  color: #ffffff;
  font-size: 16px;
  padding-top: 20px;
}
.footer__facebook--logo {
  padding-left: 10px;
}
.footer__twitter--logo {
  padding-left: 10px;
}
.footer__container {
  padding: 16px;
}
.footer-contact__info {
  padding-bottom: 20px;
}
.footer-contact__list {
  list-style-type: none;
}
.footer__title {
  margin: 0 125px 0 60px;
}

@media only screen and (min-width: 768px) {
  .footer-contact__info {
    margin-right: 20px;
    margin-left: 60px;
    font-size: 14px;
  }
  .footer__instagram--logo {
    width: 30px;
    height: 30px;
  }
  .footer__facebook--logo {
    width: 30px;
    height: 30px;
  }
  .footer__twitter--logo {
    width: 40px;
    height: 30px;
  }
  .footer__title {
    font-family: avenirnext-demi;
    font-size: 200%;
  }
  .footer-contact__item {
    padding-bottom: 20px;
  }
  .footer-contact__item--bold {
    font-family: avenirnext-demi;
    padding-bottom: 20px;
  }

  .footer__container {
    display: flex;
  }

  .footer__social {
    display: flex;
    flex-flow: column;
  }
  .footer__social--logos {
    display: flex;
    padding: 16px;
  }
}/*# sourceMappingURL=bio.css.map */