@use "partials/breakpoints" as breakpoint;
@use "partials/base" as *;
@import "partials/components";
@import "partials/resets.scss";

//hero image section
.hero {
  @include breakpoint.desktab {
    &-title__wrapper {
      padding: 2rem;
      padding-right: 8rem;
      height: fit-content;
      z-index: 200;
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &-img__container {
    background: url(../assets/Images/hero-shows.jpg);
    background-blend-mode: rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-size: cover;
    height: 32rem;
    display: flex;
    align-items: center;
  }

  @include breakpoint.tablet {
    .hero-img__container {
      height: 34rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .hero__soundcloud2 {
      display: none;
      width: 8rem;
    }
  }

  @include breakpoint.mobile {
    .hero__soundcloud2 {
      display: none;
    }

    .hero-title__wrapper {
      margin-left: 5rem;
      margin-right: 8rem;
      z-index: 200;
    }

    .hero-img__container {
      justify-content: center;
      position: relative;
    }
  }

  &__title {
    color: $accent-color;
    font-family: avenirNext-demi;
    font-size: 4.8vw;
  }

  &-sub__title {
    font-size: 2vw;
    color: $accent-color;
    padding-bottom: 1rem;
  }

  @include breakpoint.desktab {
    &__title,
    &-sub__title {
      line-height: 5rem;
      font-family: avenirnext-demi;
    }
  }

  @include breakpoint.mobile {
    &__title {
      font-size: 8vw;
      line-height: 4rem;
    }

    &-sub__title {
      font-size: 3.5vw;
      line-height: 2rem;
    }
  }

  @include breakpoint.tablet {
    &-sub__title {
      font-size: 3.3vw;
    }
  }

  &__soundcloud1 {
    @include soundcloud-template;
  }

  @include breakpoint.tablet {
    &__soundcloud1 {
      @include soundcloud-template;
      width: 45vw;
    }
  }

  @include breakpoint.desktop {
    &__soundcloud2 {
      @include soundcloud-template;
      width: 30vw;
    }
  }

  &-image__wrapper {
    width: 0px;
  }

  @include breakpoint.tablet {
    &__title {
      font-size: 9vw;
    }
  }
}

@include breakpoint.desktop {
  .hero {
    &-img__container {
      height: 40rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &__soundcloud1 {
      display: none;
      border-radius: 5px;
    }

    &__soundcloud2 {
      z-index: 200;
    }
  }
}

//shows
.show__content {
  padding: 20px;
}

@include breakpoint.desktab {
  .shows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 2rem;
    border-bottom: solid 1px $divider-color;

    &__wrapper {
      min-width: 15vw;
    }

    &__subtitle {
      display: none;
    }

    &__divider {
      display: none;
    }

    &__content--button {
      @include button-template;
      width: 13vw;
      height: 6.5vh;
      font-size: 1rem;
      font-family: AvenirNext-demi;
      padding: 0%;
    }
  }

  @include breakpoint.tablet {
    .show__subtitles {
      font-size: 1.3rem;
      font-family: AvenirNext-demi;
    }

    .shows {
      font-size: 1.5rem;

      &__wrapper {
        min-width: 20vw;
      }
    }
  }

  .show__subtitles {
    display: flex;
    justify-content: space-between;
    width: 75%;
    color: $base-color;
    padding: 0 2rem;
    position: relative;
  }
}

@include breakpoint.desktop {
  .shows {
    &__content--button {
      width: 12vw;
    }

    &__content {
      width: 70%;
      margin-left: 25%;
    }
  }

  .show {
    &__title {
      font-size: 2rem;
      margin-left: 8rem;
      position: absolute;
    }

    &__subtitles {
      justify-content: space-evenly;
      margin-left: 12rem;
      padding: 2rem 0 2rem 2rem;
      font-family: AvenirNext-demi;
      position: relative;
      width: 70%;
    }
  }
}

@include breakpoint.mobile {
  .shows {
    font-size: 0.8rem;
    color: $base-color;
    font-weight: 100;
    margin: 1rem;

    &__title {
      font-family: avenirnext-demi;
      margin-left: 1rem;
    }

    &__subtitle {
      color: $secondary-color;
      font-size: 1rem;
      font-family: avenirnext-demi;
      line-height: 1.5rem;
      letter-spacing: 0.5px;
      padding-bottom: 1rem;
    }

    &__content--date,
    &__content--venue,
    &__content--location {
      padding-bottom: 1rem;
      font-size: 1.2rem;
    }

    &__content--date {
      font-family: avenirnext-demi;
    }

    &__divider {
      margin: 1rem 0;
      border: 1px solid $divider-color;
      background-color: $divider-color;
      width: 100%;
    }

    &__content--button {
      @include button-template;
      font-size: 1rem;
      width: 85vw;
      height: 7vh;
      font-family: avenirnext-demi;
      padding: 0;
    }
  }

  @include breakpoint.mobile {
    .show__subtitles {
      display: none;
    }
  }
}

.show {
  padding: 1rem;

  &__title {
    font-family: avenirnext-demi;
    padding: 2rem 0;
    font-size: 2.5rem;
  }

  &__subtitles {
    padding-bottom: 2rem;
    color: $secondary-color;
  }
}
