/*media query variables */
@font-face {
  font-family: "AvenirNext-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
/*page header*/
/*section header*/
/*subheader*/
/*body copy*/
/*footer copy*/
/*labels and buttons*/
/*media queries*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*need a mixin for my section styling perhaps, 16px padding left and right after the hero image.*/
/*FONT VARIABLES*/
/*page header*/
/*section header*/
/*subheader*/
/*body copy*/
/*footer copy*/
/*labels and buttons*/
/*FONT MIXINS*/
h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

/*media query variables */
@font-face {
  font-family: "AvenirNext-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
/*page header*/
/*section header*/
/*subheader*/
/*body copy*/
/*footer copy*/
/*labels and buttons*/
/*media queries*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*need a mixin for my section styling perhaps, 16px padding left and right after the hero image.*/
/*FONT VARIABLES*/
/*page header*/
/*section header*/
/*subheader*/
/*body copy*/
/*footer copy*/
/*labels and buttons*/
/*FONT MIXINS*/
h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.nav__biography,
.hero__title,
.article__content--quote,
.article__quote--author,
.article__title,
.article__content--title,
.gallery__title,
.footer__title,
.footer-contact__item--bold,
.comments__content--author,
.form__box,
.comment__button,
.comment__name,
.comment__box,
.form__title {
  font-family: AvenirNext-demi !important;
}

@media only screen and (max-width: 767px) {
  .nav {
    background-color: #323232;
  }
  .nav__title {
    padding-top: 5%;
    width: 40%;
    margin-left: 30%;
  }
  .nav__item {
    width: 50vw;
    padding-bottom: 25px;
    padding-top: 20px;
  }
  .nav__item:hover {
    border-bottom: 4px solid #fafafa;
  }
  .nav__biography {
    border-bottom: 4px solid #fafafa;
  }
  .nav__shows--bold {
    font-family: AvenirNext-demi;
  }
  .nav__shows--border {
    border-bottom: 4px solid #fafafa;
  }
  .nav__list {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    text-align: center;
  }
  .nav__link {
    color: #fafafa;
    text-decoration: none;
    font-size: 22px;
    border-bottom: 3px solid transparent;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .nav {
    display: block;
    padding: 0;
  }
  .nav__link {
    font-size: 22px;
  }
  .nav__list {
    font-size: 25px;
    display: block;
  }
  .nav__title {
    width: 260px;
    padding-top: 0;
    margin-left: 0;
  }
  .nav__link:hover {
    padding-bottom: 3.1rem;
    border-bottom: 5px solid #fafafa;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: #323232;
    padding: 37px;
  }
  .nav__shows--bold {
    font-family: AvenirNext-demi;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 14px;
    letter-spacing: 0.4px;
  }
  .nav__link:hover {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 39px;
  }
  .nav__link, .nav__biography2 {
    text-decoration: none;
    color: #ffffff;
  }
  .nav__link {
    margin-left: 25px;
  }
  .nav__title {
    color: #ffffff;
    font-weight: 100;
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav__biography, .nav__shows {
    font-size: 1.3rem;
  }
  .nav__shows, .nav__shows--border {
    margin-left: 25px;
    color: #e1e1e1;
  }
}
@media only screen and (min-width: 1279px) {
  .nav {
    padding: 37px 37px 37px 100px;
  }
  .nav__biography, .nav__shows {
    font-size: 0.9rem;
  }
  .nav__link:hover {
    border-bottom: 5px solid #ffffff;
    padding-bottom: 35px;
  }
}
.footer {
  background-color: #323232;
  color: #ffffff;
}
.footer__header {
  display: flex;
  justify-content: space-between;
}
.footer__left, .footer__inner {
  display: flex;
  margin-top: 1.5rem;
  padding: 1rem;
}
.footer__social--logos {
  margin-left: 7rem;
}
.footer__container {
  padding: 16px;
  margin-left: 4rem;
}
.footer-contact__info {
  padding-bottom: 20px;
}
.footer-contact__list {
  list-style-type: none;
  font-size: 1.1rem;
  line-height: 2rem;
}
@media only screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .footer__right {
    margin-right: 4rem;
  }
  .footer__social--logos {
    margin-top: 0.6rem;
  }
  .footer__logo {
    margin-right: 5rem;
    padding-top: 2.5rem;
    width: 9vw;
  }
  .footer-contact__info {
    margin-right: 20px;
    margin-left: 60px;
    font-size: 14px;
  }
  .footer__copyright--list {
    margin-left: 9.7rem;
    padding-bottom: 3rem;
    list-style-type: none;
  }
  .footer__instagram--logo {
    width: 30px;
    height: 30px;
    margin-right: 1.3rem;
  }
  .footer__facebook--logo {
    width: 30px;
    height: 30px;
    margin-right: 1.3rem;
  }
  .footer__twitter--logo {
    width: 43px;
    height: 30px;
    margin-right: 1.3rem;
  }
  .footer__title {
    font-size: 2.4rem;
    margin-left: 3.2rem;
  }
  .footer-contact__item, .footer-contact__item--bold {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    margin: 0;
  }
  .footer__inner {
    overflow: hidden;
    padding: 0;
  }
  .footer__header {
    width: 97vw;
    height: 10vh;
    padding-bottom: 5rem;
  }
  .footer__title {
    font-size: 2.7rem;
    margin-left: 1.7rem;
    font-family: AvenirNext-demi !important;
  }
  .footer__right {
    margin-right: 0;
  }
  .footer__left {
    padding: 0;
  }
  .footer-contact__list, .footer-contact__info {
    font-size: 2vw;
    margin-left: 1rem;
  }
  .footer__social--logos {
    margin-left: 3rem;
    margin-top: 0.7rem;
  }
  .footer__logo {
    width: 15vw;
    margin-right: 2rem;
  }
  .footer__copyright--list {
    margin-left: 2.8rem;
  }
}
@media only screen and (max-width: 767px) {
  .footer__inner {
    display: contents;
    padding: 0;
  }
  .footer__container {
    margin-left: 0.5rem;
  }
  .footer__left, .footer__header, .footer__social--logos, .footer__title {
    display: block;
    padding: 0;
    margin: 0;
  }
  .footer__header {
    height: 140px;
  }
  .footer__social--logos, .footer__title {
    padding-bottom: 2rem;
  }
  .footer__title {
    font-size: 2.2rem;
  }
  .footer-contact__item, .footer-contact__item--bold {
    padding-bottom: 1rem;
  }
  .footer__instagram--logo {
    width: 30px;
    height: 30px;
    margin-right: 1.3rem;
  }
  .footer__facebook--logo {
    width: 30px;
    height: 30px;
    margin-right: 1.3rem;
  }
  .footer__twitter--logo {
    width: 43px;
    height: 30px;
    margin-right: 1.3rem;
  }
  .footer__copyright {
    padding: 1rem 0 1rem 1rem;
  }
  .footer__copyright--list {
    padding: 0 1rem 1rem 1rem;
    list-style-type: none;
  }
  .footer__logo--mobile {
    width: 30vw;
  }
}
@font-face {
  font-family: "AvenirNext-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
/*page header*/
/*section header*/
/*subheader*/
/*body copy*/
/*footer copy*/
/*labels and buttons*/
/*media queries*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*need a mixin for my section styling perhaps, 16px padding left and right after the hero image.*/
/*FONT VARIABLES*/
/*page header*/
/*section header*/
/*subheader*/
/*body copy*/
/*footer copy*/
/*labels and buttons*/
/*FONT MIXINS*/
h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AvenirNext-regular;
}

@media only screen and (min-width: 768px) {
  .hero-title__wrapper {
    padding: 2rem;
    padding-right: 8rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 200;
  }
}
.hero__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
.hero__title {
  margin-bottom: 2rem;
}
.hero-img__container {
  background: url(../assets/Images/hero-shows.jpg);
  background-blend-mode: rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  height: 32rem;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero .hero-img__container {
    height: 34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .hero .hero__soundcloud2 {
    display: none;
    width: 8rem;
  }
}
@media only screen and (max-width: 767px) {
  .hero .hero__soundcloud2 {
    display: none;
  }
  .hero .hero-title__wrapper {
    margin-left: 5rem;
    margin-right: 8rem;
    z-index: 200;
  }
  .hero .hero-img__container {
    justify-content: center;
    position: relative;
  }
}
.hero__title {
  color: #ffffff;
  font-family: avenirNext-demi;
  font-size: 4.8vw;
}
.hero-sub__title {
  font-size: 2vw;
  color: #ffffff;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .hero__title, .hero-sub__title {
    line-height: 5rem;
    font-family: avenirnext-demi;
  }
}
@media only screen and (max-width: 767px) {
  .hero__title {
    font-size: 8vw;
    line-height: 4rem;
  }
  .hero-sub__title {
    font-size: 3.5vw;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-sub__title {
    font-size: 3.3vw;
  }
}
.hero__soundcloud1 {
  width: 80vw;
  height: 20vh;
  border-radius: 7px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__soundcloud1 {
    width: 80vw;
    height: 20vh;
    border-radius: 7px;
    width: 45vw;
  }
}
@media only screen and (min-width: 1279px) {
  .hero__soundcloud2 {
    width: 80vw;
    height: 20vh;
    border-radius: 7px;
    width: 30vw;
  }
}
.hero-image__wrapper {
  width: 0px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    font-size: 9vw;
  }
}

@media only screen and (min-width: 1279px) {
  .hero-img__container {
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .hero__soundcloud1 {
    display: none;
    border-radius: 5px;
  }
  .hero__soundcloud2 {
    z-index: 200;
  }
}
.show__content {
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .shows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 2rem;
    border-bottom: solid 1px #e1e1e1;
  }
  .shows__wrapper {
    min-width: 15vw;
  }
  .shows__subtitle {
    display: none;
  }
  .shows__divider {
    display: none;
  }
  .shows__content--button {
    background-color: #323232;
    color: #fafafa;
    border-radius: 0.3rem;
    border: 1px solid #323232;
    padding: 1rem;
    margin-bottom: 10px;
    font-size: 1.6rem;
    width: 13vw;
    height: 6.5vh;
    font-size: 1rem;
    font-family: AvenirNext-demi;
    padding: 0%;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1279px) {
  .show__subtitles {
    font-size: 1.3rem;
    font-family: AvenirNext-demi;
  }

  .shows {
    font-size: 1.5rem;
  }
  .shows__wrapper {
    min-width: 20vw;
  }
}
@media only screen and (min-width: 768px) {
  .show__subtitles {
    display: flex;
    justify-content: space-between;
    width: 75%;
    color: #323232;
    padding: 0 2rem;
    position: relative;
  }
}
@media only screen and (min-width: 1279px) {
  .shows__content--button {
    width: 12vw;
  }
  .shows__content {
    width: 70%;
    margin-left: 25%;
  }

  .show__title {
    font-size: 2rem;
    margin-left: 8rem;
    position: absolute;
  }
  .show__subtitles {
    justify-content: space-evenly;
    margin-left: 12rem;
    padding: 2rem 0 2rem 2rem;
    font-family: AvenirNext-demi;
    position: relative;
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .shows {
    font-size: 0.8rem;
    color: #323232;
    font-weight: 100;
    margin: 1rem;
  }
  .shows__title {
    font-family: avenirnext-demi;
    margin-left: 1rem;
  }
  .shows__subtitle {
    color: #afafaf;
    font-size: 1rem;
    font-family: avenirnext-demi;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    padding-bottom: 1rem;
  }
  .shows__content--date, .shows__content--venue, .shows__content--location {
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
  .shows__content--date {
    font-family: avenirnext-demi;
  }
  .shows__divider {
    margin: 1rem 0;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    width: 100%;
  }
  .shows__content--button {
    background-color: #323232;
    color: #fafafa;
    border-radius: 0.3rem;
    border: 1px solid #323232;
    padding: 1rem;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-size: 1rem;
    width: 85vw;
    height: 7vh;
    font-family: avenirnext-demi;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) and (max-width: 767px) {
  .show__subtitles {
    display: none;
  }
}
.show {
  padding: 1rem;
}
.show__title {
  font-family: avenirnext-demi;
  padding: 2rem 0;
  font-size: 2.5rem;
}
.show__subtitles {
  padding-bottom: 2rem;
  color: #afafaf;
}/*# sourceMappingURL=shows.css.map */